.auth {
  font-family: 'Andika New Basic', sans-serif;
}

.loginBtn {
  background-color: #208371;
  color: #FFFFFF;
  padding: 2px 8px;
  border: solid 1px #208371;
  border-radius: 3px;
  margin-right: 5px;
}

.loginBtn:hover{
  background-color: #29a18b;
}

.newUserFormBtn{
  color: #FAA916;
  font-weight: bold;
}

.newUserFormBtn:hover {
  color: #f8c66a;
}