.budgetItemTable{
  color: #292929;
  
  .itemTotalSpent {
    color: #FAA916;
    font-weight: bold;
  }

  .deleteItem {
    background-color: #A63446;
    color: #FFFFFF;
    padding: 2px 8px;
    border: solid 1px #A63446;
    border-radius: 3px;
  }

  .deleteItem:hover {
    background-color: #c54054;
  }

  .addItemBtn {
    margin-bottom: 35px;
    background-color: #208371;
    color: #ffffff;
    border: solid 1px #208371;
    border-radius: 5px;
    width: 40%;
  }

  .addItemBtn:hover {
    background-color: #29a18b;
  }
}

.budgetItemTableChristmas{
  color: #292929;
    .itemTotalSpent {
      color: #386641;
      font-weight: bold;
      font-size: 18px;
    }
    .deleteItem {
      background-color: #BC4749;
      color: #FFFFFF;
      padding: 2px 8px;
      border: solid 1px #BC4749;
      border-radius: 3px;
    }

    .deleteItem:hover {
      background-color: #c54054;
    }

    .addItemBtn {
      margin-bottom: 35px;
      background-color: #65944C;
      color: #ffffff;
      border: solid 1px #65944C;
      border-radius: 5px;
      width: 40%;
    }

    .addItemBtn:hover {
      background-color: #79AC5D;
    }
}

.budgetItemTableThanksgiving{
  color: #292929;
    .itemTotalSpent {
      color: #FFB627;
      font-weight: bold;
      font-size: 18px;
    }
    .deleteItem {
      background-color: #6A041D;
      color: #FFFFFF;
      padding: 2px 8px;
      border: solid 1px #6A041D;
      border-radius: 3px;
    }

    .deleteItem:hover {
      background-color: #c54054;
    }

    .addItemBtn {
      margin-bottom: 35px;
      background-color: #DD5E03;
      color: #ffffff;
      border: solid 1px #DD5E03;
      border-radius: 5px;
      width: 40%;
    }

    .addItemBtn:hover {
      background-color: #FB710E;
    }
}


.itemCategoryName{
  font-weight: bold;
  font-family: 'Andika New Basic', sans-serif;
}