@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Nanum+Myeongjo&display=swap');

.navBar{
  background-color: #457B9D;
  border-bottom: 2.5px solid #1D3557;
}

.navLink {
  color: #F1FAEE;
  font-family: 'Nanum Myeongjo', serif;
}

.navLink:hover{
  color: #F1FAEE;
}

.navbarBrand{
  color: #F1FAEE;
  font-family: 'Cinzel', serif;
  font-size: 20px;
}

.navbarBrand:hover{
  color: #e7e4e4;
}

.openNavbar{
  background-color: #F1FAEE;
}

.logOutBtn {
  background-color: #A8DADC;
  color: #3D3E3D;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  padding: 4px 10px;
  border: solid 1px #F1FAEE;
  border-radius: 5px;
  margin-top: 4px;
}