@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');


.budgetDetails {
  color: #292929;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Andika New Basic', sans-serif;
  width: 100%;
}

.budgetAmount{
  font-size: 35px;
  font-weight: bold;
  color: #FAA916;
}

.holidayName{
  font-size: 45px;
}

