@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');


.budgetDetails {
  color: #BC4749;
  margin-bottom: 25px;
  width: 100%;
  .budgetAmount{
    font-size: 35px;
    font-weight: bold;
    color: #386641;
  }
  .amountLeftToSpendText{
    color: #292929;
  }
  .budgetAmountZeroOrBelow{
    font-size: 35px;
    font-weight: bold;
    color: #772C2D;
  }
}

.Christmas {
  color: #BC4749;
  margin-bottom: 25px;
  width: 100%;
  .budgetAmount{
    font-size: 35px;
    font-weight: bold;
    color: #386641;
  }
  .amountLeftToSpendText{
    color: #292929;
  }
  .budgetAmountZeroOrBelow{
    font-size: 35px;
    font-weight: bold;
    color: #772C2D;
  }
}

.Thanksgiving {
  color: #231C07;
  margin-bottom: 25px;
  width: 100%;
  .budgetAmount{
    font-size: 35px;
    font-weight: bold;
    color: #FFB627;
  }
  .amountLeftToSpendText{
    color: #231C07;
  }
  .budgetAmountZeroOrBelow{
    font-size: 35px;
    font-weight: bold;
    color: #6A041D;
  }
}



.holidayName{
  font-size: 45px;
  font-weight: bold;
  margin-top: 25px;
}


