.addNewBudget {
  color: #292929;
  margin: auto;
  margin-top: 25px;
  font-family: 'Andika New Basic', sans-serif;
}

.addNewBudgetBtn {
  background-color: #208371;
  color: #FFFFFF;
  padding: 2px 8px;
  border: solid 1px #208371;
  border-radius: 3px;
  margin-right: 5px;
}

.addNewBudgetBtn:hover{
  background-color: #29a18b;
}

.form{
  margin-top: 35px;
}

.enterBudgetAmountField{
  margin-top: 20px;
  margin-bottom: 20px;
}