.priorBudgets{
  margin-top: 15px;
  .deleteBudgetBtn {
    background-color: #A63446;
    color: #FFFFFF;
    padding: 2px 8px;
    border: solid 1px #A63446;
    border-radius: 3px;
  }
  
  .deleteBudgetBtn:hover {
    background-color: #c54054;
  }
  .viewBudget {
    background-color: #208371;
    color: #FFFFFF;
    padding: 2px 8px;
    border: solid 1px #208371;
    border-radius: 3px;
  }
  .viewBudget:hover {
    background-color: #29a18b;
  }
}

.priorBudgetsChristmas{
  margin-top: 15px;
  .deleteBudgetBtn {
    background-color: #BC4749;
    color: #FFFFFF;
    padding: 2px 8px;
    border: solid 1px #BC4749;
    border-radius: 3px;
  }
  
  .deleteBudgetBtn:hover {
    background-color: #c54054;
  }

  .viewBudget {
    background-color: #65944C;
    color: #FFFFFF;
    padding: 2px 8px;
    border: solid 1px #65944C;
    border-radius: 3px;
  }
  .viewBudget:hover {
    background-color: #79AC5D;
  }
}

.priorBudgetsThanksgiving{
  margin-top: 15px;
  .deleteBudgetBtn {
    background-color: #6A041D;
    color: #FFFFFF;
    padding: 2px 8px;
    border: solid 1px #6A041D;
    border-radius: 3px;
  }
  
  .deleteBudgetBtn:hover {
    background-color: #c54054;
  }
  .viewBudget {
    background-color: #BC4749;
    color: #FFFFFF;
    padding: 2px 8px;
    border: solid 1px #BC4749;
    border-radius: 3px;
  }
  .viewBudget:hover {
    background-color: #c54054;
  }
}
