.link{
  color: #292929;
  font-size: 20px;
  margin: auto;
}

.link:hover {
  color: #4e4d4d;
}

.priorBudgets{
  .deleteBudgetBtn {
    background-color: #A63446;
    color: #FFFFFF;
    padding: 2px 8px;
    border: solid 1px #A63446;
    border-radius: 3px;
  }
  
  .deleteBudgetBtn:hover {
    background-color: #c54054;
  }
}

.priorBudgetsChristmas{
  .deleteBudgetBtn {
    background-color: #BC4749;
    color: #FFFFFF;
    padding: 2px 8px;
    border: solid 1px #BC4749;
    border-radius: 3px;
  }
  
  .deleteBudgetBtn:hover {
    background-color: #c54054;
  }
}